In [1]:
import numpy as np
import pandas as pd

import torch
import torch.nn as nn
import torch.nn.functional as F
import torchvision.models as models
from torchvision import transforms
from torch.utils.data import Dataset, DataLoader
import torch.optim as optim

from sklearn import metrics

from skimage import io, color

import time
import os
import pickle

import matplotlib.pyplot as plt
import scikitplot as skplt

In [2]:
train_X = pd.read_csv('../Data/train_X.csv')
train_y = pd.read_csv('../Data/train_y.csv')
val_X = pd.read_csv('../Data/val_X.csv')
val_y = pd.read_csv('../Data/val_y.csv')

train = pd.read_csv('../Data/train.csv')
val = pd.read_csv('../Data/dev.csv')

# More EDA

In [3]:
train.head()

,ex_id,user_id,prod_id,rating,label,date,review
0,0,923,0,3.0,1,2014-12-08,The food at snack is a selection of popular Gr...
1,1,924,0,3.0,1,2013-05-16,This little place in Soho is wonderful. I had ...
2,2,925,0,4.0,1,2013-07-01,ordered lunch for 15 from Snack last Friday. ...
3,3,926,0,4.0,1,2011-07-28,This is a beautiful quaint little restaurant o...
4,4,927,0,4.0,1,2010-11-01,Snack is great place for a casual sit down lu...

In [4]:
grouped_uniq = train.groupby(['user_id']).nunique()

In [5]:
print('# of users who post both reviews: ', grouped_uniq[grouped_uniq['label'] == 2].shape[0])
print('# of users who post only fake or genuine reviews: ', grouped_uniq[grouped_uniq['label'] == 1].shape[0])

# of users who post both reviews:  401
# of users who post only fake or genuine reviews:  125278

In [6]:
user_avg_rating = round(train.groupby('user_id')['rating'].mean(), 3).to_dict()
user_tot_prod = train.groupby('user_id')['prod_id'].count().to_dict()
user_tot_date = train.groupby('user_id')['date'].count().to_dict() # will not be used

In [7]:
user_tot_date == user_tot_prod

True

In [8]:
train_X['cleaned_review'] = train_X['cleaned review'].apply(lambda x: x[2:-1])

In [9]:
train_X['user_avg_rating'] = train_X['user_id'].map(user_avg_rating)
train_X['user_tot_prod'] = train_X['user_id'].map(user_tot_prod)

In [10]:
train_X_sub = train_X.loc[:, ['user_avg_rating', 'user_tot_prod','cleaned_review']]

In [11]:
train_X_sub.head()

,user_avg_rating,user_tot_prod,cleaned_review
0,4.500,26,the food snack select popular greek dish the a...
1,3.000,1,this littl place soho wonder lamb sandwich gla...
2,4.000,2,order lunch snack last friday time noth miss f...
3,4.000,1,this beauti quaint littl restaur pretti street...
4,4.333,3,snack great place casual sit especi cold winte...